*{
    margin: 0;
    padding: 0;
}
#root{
    width: 100%;
}
.nav{
    width: 70%;
    margin: auto;
    height: 60px;
    overflow:hidden ;
}
.title{
    width: 130px;
    height: 60px;
    float: left;
}
.title a{
    color: deepskyblue;
    font-size: 30px;
    line-height: 60px;
}
.function{
    float: left;
    width: 250px;
    height: 60px;
    margin-left: 500px;
}
.download{
    color: mediumblue;
    font-size: 20px;
    background-color: lightskyblue;
    padding: 5px 20px;
    line-height: 60px;
    margin: 20px;
    opacity: 0.5;
}

.content{
    width: 100%;
}
.head{
    width: 100%;
    height: 460px;
    background-color: deepskyblue;
    /*overflow: hidden;*/
}
.phoneImg{
    margin:10px 170px;
    float: left;

}
.load{
    float: left;
    margin:100px 20px;
}
.load h1{
    color: white;
    font-size: 50px;
}
.info{
    width: 480px;
    height: 80px;
    font-size: 20px;
    color: blue;
    margin-top:20px;
}
.link{
    width: 480px;
    height: 200px;
    /*overflow: hidden;*/
}
.two{
    float: left;
}
.two img{
    width: 150px;
    height: 150px;
    margin-top: 25px;
}
.phoneStyle{
    float: left;
    width: 250px;
    height: 150px;
    margin: 25px 40px;
}
.ios{
    width: 250px;
    height: 70px;
    background-color: white;
    border-radius: 3px;
    line-height: 70px;
    text-align: center;
    text-align: center;
}
.ios img{
    width: 40px;
    height: 50px;
    margin: 10px;
}
.ios a{
    font-size: 22px;
    padding: 20px;
    margin:20px 10px;
    line-height: 70px;
    text-align: center;
    width: 100px;
}
.andriod{
    width: 250px;
    height: 70px;
    background-color: white;
    margin-top: 10px;
    border-radius: 3px;
    line-height: 70px;
    text-align: center;
    display: block;
}
.andriod1{
    width: 250px;
    height: 70px;
    background-color: white;
    margin-top: 10px;
    border-radius: 3px;
    line-height: 70px;
    text-align: center;
    display: none;
}
.andriod img{
    width: 40px;
    height: 50px;
    margin: 10px;
}
.andriod a{
    font-size: 22px;
    padding: 20px;
    margin:20px 20px;
    line-height: 70px;
    text-align: center;
    width: 100px;
}
#footer{
    width: 1000px;
    margin: auto;
}
.footerImg{
    width: 300px;
    height: 350px;
    float: left;
    margin: 10px;
}
.footerPic{
    width: 300px;
    height: 300px;

}
.row{
    overflow: hidden;
}
.footerName{
    width: 100%;
    height: 50px;
    background-color: white;
    overflow: hidden;
    margin:20px 0;
    line-height: 50px;
}
.footerContent{
    float: left;
    margin-left: 240px;
    font-size: 30px;
}
.latest{
    float: left;
    margin-left: 750px;
    font-size: 30px;
    color: white;
}
#end{
    width: 1000px;
    margin: auto;

}
.more{
    width: 100%;
    height: 50px;
    background-color: lightskyblue;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: blue;
}




